<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618470717619-44br5235dc21kf80v0lpfb233rocuvqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618470717619-44br5235dc21kf80v0lpfb233rocuvqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDIfsfNvxWU-b0vj-3M5f0JAAJHQlBIjBY</string>
	<key>GCM_SENDER_ID</key>
	<string>618470717619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezaatama.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-1853b</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-1853b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618470717619:ios:cb8661efd0a8a38b1818c6</string>
</dict>
</plist>